body {background-color: rgb(255, 0, 157);}
h1 {background-color: pink;
color:Black;
font-family: calibri;
font-size: 30px;
text-align: center;}
h2 {background-color: rgb(163, 7, 103);
color: White;
font-family: Agency FB;
font-size: 30px;
text-alight: center;}
h3 {background-color: rgb(127, 241, 127);
color: orange;
font-family: Arial black;
font-size: 30px;}
p {font-family: fantasy;
font-size: 14px;
background-color: rgb(43, 189, 226);
color:rgb(247, 185, 231);}
footer{background-color: plum;
color:aqua
font-size: 14px}
h3 {background-color: rgb(163, 7, 103);
Color: gray;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
font-size: 30px}
